<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<main class="mt-6 pt-6">
  <!-- image -->
  <div>
    <a href="https://store.ubi.com/on/demandware.store/Sites-sea_ubisoft-Site/th_TH/Product-Show?pid=5cec2d9939798c0870c0769a%09" target="_blank"
      tabindex="0">
      <div class="homepage-custom-slide__background">
        <picture>
          <img
            src="https://store.ubi.com/on/demandware.static/-/Library-Sites-shared-library-web/default/dwa752d565/images/homepage/slot1/DESK_HERO_WDL_1920x538.jpg">
        </picture>
      </div>

      <div class="homepage-custom-slide__content white nobg">
        <div class="custom-slide-inner advice">
          <h2 style="font-size: 30px;">อย่าพลาดคอนเทนต์โบนัส</h2>
          <h3 style="font-size: 25px;">เพลิดเพลินกับส่วนลดพิเศษ 270 บาท เมื่อซื้ออัลติเมท เอดิชั่น</h3>
          <div class="custom-slide-cta">
            <div class="custom-slide-cta__inner custom-slide-cta__inner__purple" data-alt-text="สั่งจองล่วงหน้าเลย">
              <span>สั่งจองล่วงหน้าเลย</span>
            </div>
          </div>
        </div>
      </div>

    </a>
  </div>


  <!-- card -->
  <div class="bg-card wrapper">
    <mat-card class="example-card cardd">
      <img mat-card-image
        src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Library-Sites-shared-library-web/default/dw25d68abe/Web_Revamp_Contribution/homepage/triple-pushes/WDL_Gold_Triple.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-title>Watch Dogs: Legion</mat-card-title>
      <mat-card-content>
        <p>
          After a mysterious assailant initiates devastating terror attacks on London,
          DedSec, a secret underground resistance who is being blamed for the attacks
          and is on the brink of annihilation, needs your help.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://store.ubi.com/sea/game?lang=en_SG&pid=5cec2d8639798c0870c07699&dwvar_5cec2d8639798c0870c07699_Platform=pcdl&edition=Gold%20Edition&source=detail" target="_blank">
          <button mat-button class="advice">see more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image
        src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Library-Sites-shared-library-web/default/dw655f4e15/Web_Revamp_Contribution/homepage/triple-pushes/ACV-Ultimate-Edition-Triple.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-title>Assassin’s Creed® Valhalla</mat-card-title>
      <mat-card-content>
        <p>
          In Assassin’s Creed® Valhalla, you are Eivor, a fierce Viking warrior raised on tales of battle and glory.
          Raid your enemies, grow your settlement, and build your political power in your quest to earn your place among the gods in Valhalla.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://store.ubi.com/sea/game?lang=en_SG&pid=5e84a5065cdf9a21c0b4e737&dwvar_5e84a5065cdf9a21c0b4e737_Platform=pcdl&edition=Ultimate%20Edition&source=detail" target="_blank">
          <button mat-button class="advice">see more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image
        src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Library-Sites-shared-library-web/default/dw225df035/Web_Revamp_Contribution/homepage/triple-pushes/R6_Standard_Gold_Y5_Triple.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-title>Tom Clancy's Rainbow Six Siege</mat-card-title>
      <mat-card-content>
        <p>
          Upgrade to the Tom Clancy's Rainbow Six® Siege Deluxe Edition! Includes the full game, and 16 Operators from Year 1 and Year 2.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://store.ubi.com/sea/game?lang=en_SG&pid=5e15a2665cdf9a1ec45ad82b&dwvar_5e15a2665cdf9a1ec45ad82b_Platform=pcdl&edition=Deluxe%20Edition&source=detail" target="_blank">
          <button mat-button class="advice">see more</button></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card  cardd">
      <img mat-card-image
        src="https://store.ubi.com/on/demandware.static/-/Library-Sites-shared-library-web/default/dw5bdcf652/Web_Revamp_Contribution/homepage/double-pushes/FH_Double_Halloween.jpg"
        alt="Photo of a Shiba Inu">
      <mat-card-title>FOR HONOR</mat-card-title>
      <mat-card-content>
        <p>
          Carve a path of destruction through the battlefield fighting for guts, glory, and survival in For Honor™,
           a new melee action game developed by Ubisoft Montreal in collaboration with other Ubisof...
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://store.ubi.com/sea/for-honor/5759633788a7e3de678b4567.html?lang=en_SG#lang=en_SG&start=1" target="_blank">
          <button mat-button class="advice">see more</button></a>
      </mat-card-actions>
    </mat-card>

  </div>


  <div class="container">

    <section class="mt-4">

      <!-- RECOMMENDED -->
      <div class="advice">
        <h3>RECOMMENDED</h3>
        <mat-tab-group mat-align-tabs="start">

          <mat-tab label="Action">
            <img mat-card-image src="../assets/img/1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/2.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/3.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/4.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/5.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/6.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Adventure">
            <img mat-card-image src="../assets/img/7.jpeg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/8.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/9.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/10.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/11.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/12.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Casual">
            <img mat-card-image src="../assets/img/13.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/14.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/15.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/16.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/17.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="../assets/img/18.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Indie">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw4815bbe6/images/large/5e43c7e45cdf9a05fce62729.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw3e97c328/images/large/5e29b2485cdf9a03ec037ae1.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwf46fdc07/images/large/5eff49df0d253c0710e53d8f.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwf051b1dc/images/large/5f282c255cdf9a055850c79c.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwebb4d74c/images/large/5e15ab9f5cdf9a1ec45ad831.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwe444b87c/images/large/5f35343d5cdf9a048c83b361.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Multiplayer">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwd58f93df/images/large/5e8b58345cdf9a12c868c878.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwd01ab4a1/images/large/5efc463f0d253c1d3430ff98.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwb898359d/images/large/5ecd2da85cdf9a1528a8c1d5.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwa71b9709/images/large/5ecd2d445cdf9a1528a8c1d3.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw75a90933/images/large/5e84a5065cdf9a21c0b4e737.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw72c483ac/images/5f22cdec0d253c0b04b0d9dc.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="RPG">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw6f73c2d2/images/large/5e8d98a35cdf9a12c868c890.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw6e8c21c0/images/large/5ec296b15cdf9a056c832958.png?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw4340aeab/images/large/5ed4f98e5cdf9a1528a8c206.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw3edc2aad/images/large/5e849c6c5cdf9a21c0b4e731.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw3e97c328/images/large/5e29b2485cdf9a03ec037ae1.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw346130c1/images/large/5edf3dca5cdf9a20f0161ac9.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Simulation">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw30b772d6/images/large/5cec2d5839798c0870c07698.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw2a41bae6/images/large/5f282b0a5cdf9a055850c799.png?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw0e03f6a2/images/large/5e849e115cdf9a21c0b4e735.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw29b9fc7d/images/large/5e8d98d55cdf9a12c868c891.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw007a68c9/images/large/5ebc0cd00d253c242044526a.png?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwb57db6c4/images/large/5cf15f4f39798c0870c076e7.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Sports">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw709b30c1/images/large/5e29b8235cdf9a03ec037ae2.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw4815bbe6/images/large/5e43c7e45cdf9a05fce62729.jpg?sw=300&sh=395&sm=fit" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw486a6a15/images/large/5d39a1a75cdf9a07a480a095.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwbd9fb0a9/images/large/5cf15f1b39798c0870c076e6.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dwc0decf30/images/large/5cec2d9939798c0870c0769a.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw471e6606/images/large/57062ec488a7e316728b46ac.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

          <mat-tab label="Srategy">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw78da41bd/images/large/56c4948988a7e300458b47f0.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw1f431afa/images/large/57f37acaca1a649a6e8b4567.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw5405924e/images/large/5cc81f5f6b54a4cd3c0e9cfd.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw889b9197/images/large/5afda8aa6b54a4271407a875.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw194ac23a/images/large/598d7de688a7e3b7368b4578.jpg" alt="Photo of a Shiba Inu" class="rec">
            <img mat-card-image src="https://store.ubi.com/dw/image/v2/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/dw9a1cfe0d/images/large/5d63d6905cdf9a0520973ace.jpg" alt="Photo of a Shiba Inu" class="rec">
          </mat-tab>

        </mat-tab-group>
      </div>

      <!-- <mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader style="font-size: 18.72px; color: white;">TOPIC</div>
        <mat-list-item *ngFor="let postdata of postdatas " class="advice">
          <mat-icon mat-list-icon>games</mat-icon>
          <div mat-line>{{ postdata.topic }}</div>
          <div mat-line>{{ postdata.description }}</div>
          <button [routerLink]="['/posts',postdata._id]" mat-raised-button style="background-color: #ffa000">
            ดูโพสต์
          </button>
        </mat-list-item>
      </mat-list> -->

      <div class="row">
        <div class="col-md-8 mb-4">
          <mat-list>
            <mat-divider></mat-divider>
            <h3 mat-subheader style="font-size: 18.72px; color: white;">TOPIC</h3>
            <mat-list-item *ngFor="let postdata of postdatas " class="advice">
              <mat-icon mat-list-icon>sports_esports</mat-icon>
              <div mat-line>{{ postdata.topic }}</div>
              <div mat-line class="minimiz">{{ postdata.description }}</div>
              <button [routerLink]="['/posts',postdata._id]" mat-raised-button class="cl">
                see more
              </button>
            </mat-list-item>
          </mat-list>
          <!-- <div class="card mb-4 wow fadeIn"> -->
          <!-- <div class="card-header font-weight-bold">
              <span>หัวข้อโพสต์</span>
              <span class="pull-right">

              </span>
            </div>

            <div style="padding-left: 20%; padding-right: 20%; padding-bottom: 10%">
              <table>
                <tr>

                  <th>หัวข้อ</th>
                  <th>รายละเอียด</th>
                  <th>ประเภทเกมส์</th>
                  <th colspan="2"></th>
                </tr>

                <tr *ngFor="let postdata of postdatas ">
                  <td>{{ postdata.topic }}</td>
                  <td>
                    <p class="minimiz">{{ postdata.description }}</p>
                  </td>
                  <td>{{ postdata.category }}</td>
                  <td>
                    <button [routerLink]="['/posts',postdata._id]" mat-raised-button style="background-color: #ffa000">
                      ดูโพสต์
                    </button>
                  </td>

                </tr>
              </table>
            </div>

          </div> -->

        </div>
        <div class="col-md-4 mb-4">
          <!-- <div class="card blue-gradient mb-4 wow fadeIn"> -->
          <div class="card-body text-black text-center">
            <div class="card mb-4 text-center wow fadeIn themes">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="themes">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="themes">
                      CATEGORY
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Action</p>
                  <p>Adventure</p>
                  <p>Casual</p>
                  <p>Indie</p>
                  <p>Multiplayer</p>
                  <p>RPG</p>
                  <p>Simulation</p>
                  <p>Sports</p>
                  <p>Srategy</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <div class="card mb-4 wow fadeIn themes">
              <div class="card-header">NEWS</div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li class="media">
                    <img class="d-flex mr-3" style="width: 100px;" src="../../assets/gta.jpg"
                      alt="Generic placeholder image">
                    <div class="media-body" style="text-align: left;">
                      <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/" target="_blank"
                        class="advice">
                        <h3>GTA</h3>
                      </a>
                      <p> Grand Theft Auto V for PC offers players the option to explore the
                        award-winning world of Los Santos and Blaine County in resolutions of up to 4k and beyond, as
                        well as the chance to experience the game running at 60 frames per second.</p>
                    </div>
                  </li>
                  <hr>
                  <li class="media my-4">
                    <img class="d-flex mr-3" style="width: 100px;"
                      src="https://www.gamesrig.com/img/index/dayz-cover.jpg" alt="An image">
                    <div class="media-body" style="text-align: left;">
                      <a href="https://store.steampowered.com/app/221100/DayZ/" target="_blank" class="advice">
                        <h3>DayZ</h3>
                      </a>
                      <p>How long can you survive a post-apocalyptic world? A land overrun
                        with an infected "zombie" population, where you compete with other survivors for limited
                        resources. Will you team up with strangers and stay strong together? Or play as a lone wolf to
                        avoid betrayal? This is DayZ – this is your story.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!--
            <div class="card mb-4 text-center wow fadeIn">
              <div class="card-header">ว่างๆ</div>


              <div class="card-body">
                <p>ใส่ข้อมูล</p>
              </div>
            </div> -->

          </div>
          <!-- </div> -->
        </div>
      </div>
    </section>
  </div>
</main>

<div class="footer">
  <div class="container" style="margin: auto;">
    <section class="mt-0">
      <div class="row advice" style="padding-top: 55px;">
        <div class="col-md-3 mb-4 ">
          <h3>REVIEWS</h3>
          <!-- <hr style="margin-top: -15px; width: 30px; color: #00758c;"> -->
          <p>Latest Reviewws</p>
          <p>PC</p>
          <p>PS4</p>
          <p>Xbox One</p>
        </div>
        <div class="col-md-3 mb-4">
          <h3>NEWS</h3>
          <p>Video</p>
          <p>Hardware</p>
          <p>In Character</p>
          <p>E-sport</p>
        </div>
        <div class="col-md-3 mb-4">
          <h3>SHOWS</h3>
          <p>fallout 4 shoe</p>
          <p>GameSpot News</p>
          <p>GameSpot of Thrones</p>
          <p>New Releases</p>
        </div>
        <div class="col-md-2 mb-4">
          <h3>COMMUNITY</h3>
          <p>Forums</p>
          <p>Facebook</p>
          <p>Twitter</p>
          <p>Twich</p>
        </div>
      </div>
    </section>
  </div>

</div>

<footer class="page-footer text-center font-small mdb-color darken-2 wow fadeIn">
  <div class="footer-copyright py-3">
    &copy; Copyright 2020
  </div>
</footer>
